@charset "UTF-8";
.single {
  width: 80%;
  padding: 30px 15px;
  /* margin-top: 40px; */
  background: #fcfcfc;
  border: 1px solid #f0f0f0;
}


.board-article {
  margin: 80px 0;
}
.board-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F9F9F9;
  padding: 20px;
  border-top: solid 2px #555;
  border-bottom: solid 1px #999;
}
.board-head > div {
  display: flex;
  align-items: center;
}
.board-head-left > img {
  margin-right: 40px;
}
.board-head-left > h2 {
  font-size: 2rem;
  font-weight: lighter;
}
.board-date {
  font-size: 1.333rem;
  color: #777777;
}
.board-shared-button {
  margin-left: 30px;
  width: 44px; height: 44px;
  background-color: #EBEBEB;
  border: solid 1px #CCCCCC;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-text-content {
  font-size: 1.333rem;
  color: #777777;
  padding: 40px 20px;
  padding-bottom: 100px;
}
.board-image-content {
  text-align: center;
  padding: 40px 20px;
  padding-bottom: 100px;
}
.board-image-content > img {
  width: 100%;
}
.board-near-item {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px 20px;
  padding-left: 40px;
  border: solid #DBDBDB;
  border-width: 1px 0;;
}
.board-near-item + .board-near-item {
  border-top: none;
}
.board-near-item::before {
  content: '';
  position: absolute;
  left: 20px; top: 50%;
  width: 10px; height: 10px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.board-prev::before {
  background-image: url(../img/more_up.svg);
}
.board-next::before {
  background-image: url(../img/more_down.svg);
}

.board-near-name {
  display: flex;
  align-items: center;
}
.board-near-name > a {
  padding-left: 20px;
  color: #777777;
  font-size: 1.333rem;
}
.board-near-name::before {
  color: #333333;
  padding: 0 10px;
  font-size: 1.5rem;
}
.page-prev::before {
  content: '이전글';
}
.page-next::before {
  content: '다음글';
}

.board-comment-head {
  display: flex;
  background-color: #F9F9F9;
  border: solid 1px #EBEBEB;
  padding: 20px 30px;
  align-items: center;
}
.board-comment-head > h2 {
  font-size: 1.833rem;
  margin-right: 30px;
}
.board-comment-head > p {
  font-size: 1.833rem;
}

.board-comment-item {
  padding: 20px 40px;
}
.board-comment-item + .board-comment-item {
  border-top: solid 1px #DBDBDB;
}
.board-comment-writer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.board-comment-writer > p:first-child {
  margin-right: 30px;
  font-size: 1.5rem;
}
.board-comment-text {
  color: #777777;
  font-size: 1.333rem;
}


.board-pagination {
  border: solid 1px #EBEBEB;
  padding: 20px 0;
}
.board-pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-to_prev,
.pagination-to_next {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #DBDBDB; 
  width: 20px; height: 20px;
}
.board-pagination-wrapper > a > img {
  width: 5px;
}
.pagination-page:hover,
.pagination-page.pagination-current {
  font-size: 1.5rem;
  color: #555555;
  font-weight: bold;
}
.pagination-page {
  font-size: 1.333rem;
  color: #999999;
  width: 50px; height: 30px;
  line-height: 30px;
  text-align: center;
  position: relative;
}
.pagination-page + .pagination-page::before {
  content: '';
  position: absolute;
  left: 0; top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 50%;
  background-color: #555;
}


.board-comment-write {
  margin-top: 50px;
  background-color: #F9F9F9;
  padding: 20px;
}
.board-comment-input {
  width: 100%; height: 120px;
}
.board-comment-input > textarea {
  width: 100%; height: 100%;
  padding: 10px;
  resize: none; outline: none;
  border: solid 1px #EBEBEB;
}
.board-comment-state {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}
.board-comment-regist {
  background-color: #DBDBDB;
  color: #333333;
  font-size: 1.667rem;
  padding: 15px 30px;
  margin-left: 30px;
  border: none; outline: none;
}
.board-comment-regist:hover {
  background-color: #1C8286;
  color: #fff;
}
.board-comment-state > span {
  color: #777777;
  font-size: 1.5rem;
}


.img_board-like {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 20px; right: 20px;
  width: 50px;
  font-size: 1.5rem;
}
.img_board-like > img {
  width: 20px !important;
}

.single h3.side-title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 1.667rem;
  color: #333;
  text-transform: uppercase;
}

.board-content {
  padding: 0 10px;
}
.single h3.side-title:after {
  content: "";
  width: 60px;
  height: 1px;
  background: #ff173c;
  display: block;
  margin-top: 6px;
}

.single ul {
  margin-bottom: 0;
}

.single li a {
  color: #666;
  font-size: 1.167rem;
  text-transform: uppercase;
  border-bottom: 1px solid #f0f0f0;
  line-height: 40px;
  display: block;
  text-decoration: none;
}

.single li a:hover {
  color: #ff173c;
}

.single li:last-child a {
  border-bottom: 0;
}

.right_area {
  position: relative;
  width: 100%;
}

.right_contents {
  width: 100%;
  position: relative;
}

.right_contents:after {
  clear: both;
  display: block;
  content: "";
}

.title-page,
.txt_selected_division,
.font-mss {
  font-family: "Open Sans", sans-serif !important;
}

.title-page {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  height: 17px;
  line-height: 17px;
  font-weight: normal;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.right_contents:after {
  clear: both;
  display: block;
  content: "";
}

.cs_center_tap ul {
  display: table;
  width: 50%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

.cs_center_tap ul li:first-child {
  padding: 20px;
  border-left: none;
}

.cs_center_tap ul li {
  display: table-cell;
  width: 33.3%;
  margin: -1px 0 0 0;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

.cs_center_tap ul li span.title {
  margin-top: 0;
  color: #000;
  font-family: "Open Sans", sans-serif !important;
  font-size: 1.5rem;
}

.cs_center_tap ul li span {
  display: block;
  font-family: "Open Sans", "Open Sans", Arial, sans-serif;
  color: #999;
  margin-top: 5px;
}

.cs_center_tap ul li a {
  display: block;
  padding: 20px;
}

.cs_center_tap ul li span.title {
  margin-top: 0;
  color: #000;
  font-family: "Open Sans", sans-serif !important;
  font-size: 1.5rem;
}

.page_cs_notice .table_basic {
  margin-top: 15px;
  margin-bottom: 50px;
}

.table_basic {
  width: 100%;
  font-size: 1.333rem;
  border-top: 1px solid #000;
  border-spacing: 0;
  font-family: "Open Sans", Open Sans, Arial, sans-serif;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #fff;
}
.table_basic tr {
  border-bottom: 2px solid #dbdbdb;
  position: relative;
}
.table_basic th {
  font-size: 1.667rem;
  border-top: 1px solid #444444;
  border-bottom: 2px solid #dbdbdb;
  vertical-align: middle;
  padding: 10px;
}

.table_basic td {
  line-height: 16.8px;
  padding: 10px;
}
.board_content_icon {
  width: 20px !important;
  height: 20px !important;
  vertical-align: middle;
  margin-right: 10px;
}

.page_cs_notice .table_basic .tit_contents_td {
  text-align: left;
}

.boxed-list-wrapper {
  background-color: #fff;
  border-right: 1px solid #dddddd;
}

.boxed-list-wrapper > .box.pagingNumber-box {
  margin-top: -1px;
}

.boxed-list-wrapper > .box {
  width: 100%;
  height: 42px;
  line-height: 42px;
  background: #fff;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.boxed-list-wrapper > .box .pagingNumber {
  float: right;
  margin-right: 15px;
  font-weight: bold;
  font-family: Open Sans;
}

.boxed-list-wrapper > .box .pagination {
  margin-right: 0;
}

.boxed-list-wrapper > .box .pagination {
  width: auto;
  margin-right: -1px;
  float: right;
}

.pagination {
  width: 100%;
  height: 40px;
  text-align: center;
}

.pagination .wrapper {
  margin-right: -1px;
}

.pagination .wrapper {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.pagination .wrapper:before,
.pagination .wrapper:after {
  content: " ";
  display: table;
}

.boxed-list-wrapper > .box .pagination .paging-btn {
  border-top: none;
  border-bottom: none;
}

.pagination .wrapper .paging-btn:first-child {
  border-left: 1px solid #dddddd;
}

.pagination .wrapper .paging-btn {
  width: auto;
  min-width: 33px;
  padding: 0 2px;
}

.pagination .wrapper .paging-btn {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 41px;
  line-height: 40px;
  border: 1px solid #dddddd;
  border-left: none;
  float: left;
  text-align: center;
  color: #b2b2b2;
}

.pagination .fa {
  font-family: "verdana", "Open Sans", "Open Sans";
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  display: inline-block;
  *zoom: 1;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  zoom: 1;
  *display: inline;
}

.pagination .wrapper .paging-btn.first:before {
  content: "<<";
}

.pagination .wrapper .paging-btn.prev:before {
  content: "<";
}

.pagination .wrapper .paging-btn.active,
.pagination .wrapper .paging-btn:hover {
  background-color: #f3f3f3;
  font-weight: bold;
  color: #000;
}

.pagination .wrapper .paging-btn.next:before {
  content: ">";
}

.pagination .wrapper .paging-btn.last:before {
  content: ">>";
}

.pagination .wrapper:after {
  clear: both;
}

.pagination .wrapper:before,
.pagination .wrapper:after {
  content: " ";
  display: table;
}

.mobile-pagination > .mobile-pagination-select {
  width: 100px;
}

.mobile-pagination > .mobile-pagination-select .cate_1 {
  position: relative;
  width: 100%;
  height: 32px;
  color: #999999;
  font-size: 1.333rem;
  border: 1px solid #dbdbdb;
}
.mobile-pagination {
  line-height: 1;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.mobile-pagination-box {
  display: flex;
}
.mobile-pagination-area {
  padding: 0 15px;
  width: 70px; height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 2px;
  border: solid 1px #ddd;
  transition: background .3s ease-in-out;
  font-size: 1.333rem;
}
.mobile-pagination-area.disabled {
  opacity: 0.6;
}
.mobile-pagination-area.disabled a {
  cursor: default;
}
.mobile-pagination-area.disabled:hover {
  background: #fff;
  box-shadow: none;
}
.mobile-pagination-area:hover {
  background: #f3f3f3;
  box-shadow: 1px 0px 10px #eee;
}

.wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.boxed-list-wrapper > .box.pagination-box {
  width: 100%;
  border-bottom: 1px solid #eee;
  
}

.plain-btn.search_again_btn {
  font-size: 1rem;
  line-height: 1rem;
}

.plain-btn {
  background: #fff;
  color: #000;
}

.plain-btn {
  border: 1px solid #dddddd;
  padding: 10px;
  font-weight: bold;
  line-height: 12px;
  font-size: inherit;
  text-align: center;
}

.btn {
  display: inline-block;
  *zoom: 5;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  zoom: 1;
  *display: inline;
}
.g_board {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 2rem;
  margin: 0 20px;
  color: #999999;
}
.g_board_selec {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 2rem;
  margin: 0 20px;
  padding-bottom: 21px;
  border-bottom: 8px solid #555555;
}
.g_board:hover {
  padding-bottom: 21px;
  border-bottom: 8px solid #555555;
}

.board-main {
  max-width: 1280px;
  padding: 0 20px;
  box-sizing: content-box;
  margin: 0 auto;
  padding-bottom: 100px;
  display: block;
}

@media screen and (max-width: 1024px) {
  .board-head {
    padding: 15px;
  }
  .g_board_selec {
    padding-bottom: 16px;
  }
  .g_board:hover {
    padding-bottom: 16px;
  }
  .g_board_selec {
    border-bottom: 6px solid #555555;
  }
  .g_board:hover {
    border-bottom: 6px solid #555555;
  }
  .board-head-left > img {
    margin-right: 20px;
    width: 50px;
  }
  .board-article {
    margin: 60px 0;
  }
  .board-comment-write {
    margin-top: 40px;
  }
  .board-comment-head {
    padding: 15px 25px;
  }
  .board-comment-item {
    padding: 15px 35px;
  }
  .board-comment-writer {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .board-head {
    padding: 10px;
  }
  .g_board {
    margin: 0;
  }
  .table_basic {
    font-size: 1.333rem;
  }
  .g_board_selec {
    margin: 0;
    padding-bottom: 11px;
  }
  .g_board:hover {
    margin: 0;
    padding-bottom: 11px;
  }
  .board-pagination {
    display: none;
  }
  .mobile-pagination {
    display: flex;
  }
  .small-font > .g_board,
  .small-font > .g_board_selec,
  .small-font > .g_board:hover {
    font-size: 1.5rem;
  }

  .g_board_selec {
    border-bottom: 4px solid #555555;
  }
  .g_board:hover {
    border-bottom: 4px solid #555555;
  }
  .board-date {
    display: none;
  }
  .board-shared-button {
    width: 33px; height: 33px;
    margin-left: 10px;
  }
  .board-head-left > img {
    margin-right: 10px;
    width: 40px;
  }
  .board-shared-button > img {
    width: 18px; height: 18px;
  }
  .page_cs_notice .table_basic {
    margin-bottom: 30px;
  }
  .board-text-content,
  .board-image-content {
    padding-bottom: 50px;
  }
  .board-article {
    margin: 40px 0;
  }
  .board-comment-write {
    margin-top: 30px;
    padding: 10px;
  }
  .board-comment-head {
    padding: 10px 20px;
  }
  .board-comment-item {
    padding: 10px 30px;
  }
  .board-comment-writer {
    margin-bottom: 10px;
  }
  .board-comment-input {
    height: 80px;
  }
  .board-comment-regist {
    padding: 10px 25px;
    margin-left: 20px;
  }
  .board-comment-state {
    margin-top: 10px;
  }
  .img_board-like {
    width: 40px;
  }
  .board_content_icon {
    width: 10px !important;
    height: 10px !important;
    margin-right: 5px;
  }
}

@media screen and (max-width: 450px) {
  .g_board,
  .g_board_selec,
  .g_board:hover {
    font-size: 1.5rem;
  }
  .small-font > .g_board,
  .small-font > .g_board_selec,
  .small-font > .g_board:hover {
    font-size: 1.167rem;
  }
  .board-pagination-item {
    padding-left: 20px;
  }
  .board-pagination-item::before {
    display: none;
  }
  .board-near-item {
    padding: 5px 10px;
    padding-left: 40px;
  }
  .page_cs_notice .table_basic {
    margin-bottom: 20px;
  }
  .board-comment-write {
    margin-top: 20px;
  }
  .board-comment-head {
    padding: 5px 15px;
  }
  .board-comment-item {
    padding: 5px 25px;
  }
  .board-comment-regist {
    padding: 5px 20px;
    margin-left: 15px;
  }
  
  .board-comment-writer {
    margin-bottom: 5px;
  }
}