#cash_contain
{
    margin: 20px;
    width: 640px;
    height: 780px;
    background-color: #ebebeb;
}
.cash_header
{
    width: 640px;
    height: 88px;
    background-color: #555555;
    padding-top: 25px;
}
.cash_title
{
    font-size: 28px;
    color: #ffffff;

    margin-left: 271px;
}
.cash_connn
{
    padding: 30px;
    margin: 20px;
    width: 600px;
    height: 652px;
    background-color: #ffffff;
}
.nick_cash
{
    font-size: 18px;
    color: #555555;
    display: inline-block;

}
.how_cash
{
    font-size: 24px;
    display: inline-block;
    margin-left: 8px;
}
.line_1
{
    margin-top: 20px;
    width: 600px;
    margin-left: -30px;
    border: 2px solid #dbdbdb;
    margin-bottom: 20px;
}
.box-radio-input input[type="radio"]{
    display:none;
}

.box-radio-input input[type="radio"] + span{
    display:inline-block;
    background:none;
    border:1px solid #dbdbdb;
    background-color: #f0f0f0;
    width: 100px;
    text-align:center;
    height:48px;
    line-height:45px;
    font-weight:500;
    cursor:pointer;
}

.box-radio-input input[type="radio"]:checked + span{
    border:1px solid #23a3a7;
    background:#ffe201;
    color:#333333;
}
.much_2
{
    margin-top: 10px;
    height: 72px;
        -webkit-appearance:
            none!important;
    text-align: right;
    width: 75px;
    border: 4px solid #ffe201;
    border-right: 0px;
    width: 104px;
    font-size: 18px;
    color: #555555;
    background: white;
}
.much
{
    font-size: 18px;
    text-align: right;
    width: 436px;
    height: 72px;
    border: 4px solid #ffe201;
    border-left: 0px;
        margin: 0 0 0 -7px;
    color: #999999;
    outline: none;
}
.remain
{
    font-size: 14px;
    color: #999999;
    margin-top: 11px;
    margin-left: 380px;
    font-weight: normal;
}
.remain_2
{
    font-size: 14px;
    color: #999999;
    margin-top: 41px;
    margin-left: -13px;
    font-weight: normal;
}
.plus_won
{
    margin-top: 20px;
    margin-right: 6px;
    width: 80px;
    height: 48px;
    background-color: #ffffff;
    font-size: 16px;
    border: 1px solid #ebebeb;
}
.agree_area
{
    padding-left: 33px;
    margin-top: 10px;
    margin-left: -30px;
    width: 600px;
    height: 88px;
    border: 1px solid #e2e2e2;
    padding-top: 20px;
    background-color: #f9f9f9;
}
.yack
{
    width: 32px;
    height: 20px;
    border: 1px solid #dbdbdb;
    background-color: #e2e2e2;
    margin-right: 46px;
    margin-bottom: 9px;
}
.yack_2
{
    width: 32px;
    height: 20px;
    border: 1px solid #dbdbdb;
    background-color: #e2e2e2;
    margin-right: 18px;
    margin-bottom: 9px;
}
.btn_go
{
    margin-top: 56px;
    width: 264px;
    height: 56px;
    background-color: #ffe201;
    border: 0px;
    font-size: 18px;
}
.btn_not_go
{
    margin-top: 56px;
    width: 264px;
    height: 56px;
    background-color: #ebebeb;
    border: 0px;
    font-size: 18px;
}
.btn_not_go_2
{
    margin-top: 238px;
    width: 264px;
    height: 56px;
    background-color: #ebebeb;
    border: 0px;
    font-size: 18px;
    margin-left: 128px;
}
.agree_yack
{
    font-size: 16px;
    color: #555555;
      font-weight: normal;
  font-stretch: normal;
}
.agree_yack_2
{
    margin-top: 42px;
    font-size: 16px;
    color: #555555;
      font-weight: normal;
  font-stretch: normal;
}
.v_num
{
    font-size: 24px;
    color: #333333;
    margin-left: 103px;
}
.tablo
{
    border: 0px;
    margin-left: 100px;
    margin-top: 21px;
    width: 360px;
    font-size: 16px;
    

}
.tab_11
{
    padding-left: 20px;
    height: 48px;
    text-align: left;
    font-size: 16px;
    border: 1px solid #f0f0f0;
    border-right: 0px;
}
.tab_12
{
    margin-left: 0px;
    padding-right: 40px;
    height: 48px;
    text-align: right;
    font-size: 16px;
    border: 1px solid #f0f0f0;
    border-left: 0px;
}
.btn_go_2
{
    margin-left: 100px;
    margin-top: 70px;
    width: 354px;
    height: 56px;
    background-color: #ffe201;
    border: 0px;
    font-size: 18px;
}
.btn_go_3
{
    margin-left: 80px;
    margin-top: 41px;
    width: 480px;
    height: 56px;
    background-color: #ffe201;
    border: 0px;
    font-size: 18px;
}
.btn_go_3_1
{
    margin-left: 80px;
    margin-top: 10px;
    width: 480px;
    height: 56px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    font-size: 18px;
}
#cash_contain_2
{
    border: 1px solid #000000;
    width: 640px;
    height: 362px;
}
.buzok
{
    margin-left: 231px;
    margin-top: 86px;
    font-size: 24px;
    color: #333333;
}
.clip_B
{
    border: 1px solid #dbdbdb;
    font-size: 16px;
    color: #333333;
    padding-left: 100px;
    width: 480px;
    height: 56px;
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: -21px;
    
}