.you_bodyu {
  min-height: 100vh;
}

.cash-main {
    max-width: 1374px;
    margin: 0 auto;
    padding-bottom: 100px;
    display: block;
}
.cash_area {
  background-color: #f9f9f9;
  width: 100%;
  padding: 10px 0;
}
.cash_intro {
  margin-top: 80px;
  text-align: center;
  font-size: 3.333rem;
  color: #333333;
}

.filte_box {
  margin-bottom: 50px;
  width: 120px; height: 50px;
  position: absolute;
  left: -120px;
  border: 1px solid #dbdbdb;
  background-color: #dbdbdb;
  padding-left: 15px;
  font-size: 1.167rem;
  color: #777777;
}
#cash_gallery {
  overflow: hidden;
  margin-top: 40px;
  margin-left: 40px;
  width: 620px;
}

#cash_gallery img {
  background-color: #f5f5f5;
  overflow: hidden;
  width: 240px; height: 240px;
  margin-bottom: 0px;
}

.desc_cash {
  padding-top: 60px;
  padding-left: 40px;
  float: right;
  font-size: 1.833rem;
  color: #333333;
  width: 380px;
  height: 240px;

  border: 1px solid #dbdbdb;
}
.cash_money {
  font-size: 2.5rem;
  color: #555555;
  display: inline-block;
}
.gd_line {
  margin: 20px 0;
  max-width: 300px;
  border: 1px solid #dbdbdb;
}
.gd_line_2 {
  margin: 20px 0;
  max-width: 300px;
  border: 1px solid #dbdbdb;
}
.shop_section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  padding: 0 10px;
}
.cash_text {
  text-align: center;
  padding: 0 10px;
  margin-top: 35px;
  font-size: 1.333rem;
  color: #777777;
}
.pre_section {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#pre_gallery {
  width: 300px;
  margin: 10px;
  display: inline-block;
}
#pre_gallery img {
  background-color: #f5f5f5;
  overflow: hidden;
  width: 100%;
  margin-bottom: 0px;
  margin-right: 20px;
}
.pre_title {
  padding: 30px 40px;
  border: 1px solid #ebebeb;
  width: 100%;
  font-size: 1.667rem;
  color: #777777;
}
.pre_line {
  margin-top: 32px;
  width: 1280px;
  border: 1px solid #dbdbdb;
}
.pre_cont {
  margin-top: 15px;
  font-size: 2.333rem;
  color: #555555;
}
.crediit {
  margin-top: 40px;
  font-size: 1.667rem;
  width: 100%;
  height: 56px;
  background-color: #ffe201;
}
.cause_div {
  margin-top: 120px;
  padding: 0;
}
.cause_title {
  padding-top: 12px;
  padding-left: 20px;
  height: 56px;
  background-color: #f9f9f9;
  font-size: 2rem;
  color: #333333;
  vertical-align: middle;
}
.cause_cint {
  margin-top: 42px;
  font-size: 1.333rem;
  padding: 0 20px;
  box-sizing: border-box;
  color: #777777;
}
.chase_much {
  max-width: 400px; min-width: 300px;
  width: calc(100% - 66px); height: 56px;
  border-radius: 28px;
  background-color: #ffffff;
  position: relative;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cash_icon {
  text-align: center;
  width: 32px; height: 32px;
  line-height: 32px;
  border: 0px solid #333333;
  font-size: 1.833rem;
  color: #ffffff;
  background-color: #0069c3;
  border-radius: 30px;
  display: inline-block;
  margin-right: 10px;
}
.cash_money_t {
  display: inline-block;
  font-family: NotoSansKR;
  font-size: 1.5rem;
  font-weight: 500;
  color: #333333;
}
.chung_btn {
  padding: 0;
  margin: 0 20px;
  width: 80px; height: 40px;
  border-radius: 2px;
  border: solid 1px #ebebeb;
}
.cash_content_area {
  display: flex;
  align-items: center;
}
.point_icon_t {
  text-align: center;
  width: 32px; height: 32px;
  line-height: 32px;;
  border: 0px solid #333333;
  display: inline-block;
  font-size: 1.833rem;
  color: #ffffff;
  background-color: #f7cd19;
  border-radius: 30px;
  margin-right: 10px;
}
.cash_point_t {
  display: inline-block;
  font-family: NotoSansKR;
  font-size: 1.5rem;
  font-weight: 500;
  color: #333333;
}
.point_icon {
  text-align: center;
  width: 32px; height: 32px;
  line-height: 32px;
  border: 0px solid #333333;
  font-size: 1.833rem;
  color: #ffffff;
  background-color: #f7cd19;
  border-radius: 30px;
  display: inline-block;
  margin-right: 10px;
}
.more_aa {
  cursor: pointer;
  width: 56px; height: 56px;
  background-color: #ffffff;
  border-radius: 30px;
  margin-left: 30px;
  position: relative;
}
.icon_posi {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.private-cash-info {
    max-width: 1374px;
    height: 100%;
    padding: 0 10px;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    position: relative;
    display: flex;
}


@media screen and (max-width: 1374px) {
  .desc_cash {
    padding: 0 30px;
    padding-top: 40px;
    width: 320px; height: 200px;
  }
  #cash_gallery img {
    width: 200px; height: 200px;
  }
  #cash_gallery {
    width: 520px;
    margin-top: 20px; margin-left: 20px;
  }
}


@media screen and (max-width: 1024px) {
  .pre_title {
    padding: 25px 35px;
  }
  .cash_intro {
    font-size: 2.667rem;
    margin-top: 60px;
  }
}


@media screen and (max-width: 768px) {
  .cash_intro {
    font-size: 2rem;
    margin-top: 40px;
  }
  .cash_text {
    font-size: 1rem;
    margin-top: 20px;
  }
  .filte_box {
    width: 80px;
    left: -80px;
    padding-left: 5px;
  }
  #cash_gallery, #pre_gallery {
    margin: 0;
    margin-top: 15px;
    width: 49%;
  }
  #cash_gallery img {
    width: 100%; height: auto;
  }
  .desc_cash {
    box-sizing: border-box;
    width: 100%; height: auto;
    padding: 20px 10px;
  }
  .chung_btn {
    margin: 0 10px;
  }
  .more_aa {
    margin-left: 10px;
  }
  .pre_title {
    padding: 15px 25px;
  }
  .crediit {
    margin-top: 20px;
    height: 48px;
  }
  .gd_line {
    margin: 10px 0;
  }
  .gd_line_2 {
    margin: 10px 0;
  }
  .cause_div {
    margin-top: 70px;
  }
  .cause_cint {
    font-size: 1.167rem;
  }
  .shop_section {
    justify-content: space-around;
  }

  .pre_section {
    justify-content: space-around;
  }
}

@media screen and (max-width: 450px) {
  .chase_much {
    max-width: 100%;
    min-width: 100%;
    padding: 0 10px;
  }
  .more_aa {
    position: fixed;
    bottom: 0; left: 0;
    transform: translateY(-50%);
    box-shadow: 0px 1px 10px #666;
    z-index: 500;
  }
  .pre_title {
    padding: 10px 20px;
  }
  .pre_cont {
    font-size: 1.667rem;
  }
  .cause_div {
    margin-top: 50px;
  }
  .crediit {
    height: 36px;
    margin-top: 20px;
  }
  .desc_cash, .pre_title {
    font-size: 1.5rem;
    word-break: keep-all;
  }
  .pre_title {
    padding: 10px 15px;
  }
  .cash_money {
    font-size: 2rem;
  }
}