.cash-main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    padding-bottom: 100px;
    box-sizing: content-box;
    display: block;
}
.cash-main.detail {
  padding: 100px 20px;
}
.cash_area {
  background-color: #f9f9f9;
  width: 100%;
  padding: 10px 0;
}
.cash_intro {
  margin-top: 80px;
  text-align: center;
  font-size: 3.333rem;
  color: #333333;
}

.filte_box {
  margin-bottom: 50px;
  width: 120px; height: 100%;
  position: absolute;
  left: -140px;
  border: 1px solid #dbdbdb;
  background: linear-gradient(to bottom, #DBDBDB, #F5F5F5);
  padding-left: 15px;
  font-size: 1.167rem;
  color: #777777;
}
#cash_gallery {
  overflow: hidden;
  margin-top: 40px;
  width: 620px;
}

#cash_gallery a > img {
  background-color: #f5f5f5;
  overflow: hidden;
  width: 240px; height: 240px;
  margin-bottom: 0px;
}

.desc_cash {
  padding-top: 60px;
  padding-left: 40px;
  float: right;
  font-size: 1.833rem;
  color: #333333;
  width: 380px;
  height: 240px;

  border: 1px solid #dbdbdb;
}
.cash_money {
  font-size: 2.5rem;
  color: #555555;
  display: inline-block;
  vertical-align: middle;
}
.gd_line {
  margin: 20px 0;
  max-width: 300px;
  border: 1px solid #dbdbdb;
}
.gd_line_2 {
  margin: 20px 0;
  max-width: 300px;
  border: 1px solid #dbdbdb;
}
.shop_section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
}
.cash_text {
  text-align: center;
  padding: 0 10px;
  margin-top: 35px;
  font-size: 1.333rem;
  color: #777777;
}
.pre_section {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#pre_gallery {
  width: 300px;
  margin: 10px;
  display: inline-block;
}
#pre_gallery img {
  background-color: #f5f5f5;
  overflow: hidden;
  width: 100%;
  margin-bottom: 0px;
  margin-right: 20px;
}
.pre_title {
  padding: 30px 40px;
  border: 1px solid #ebebeb;
  width: 100%;
  font-size: 1.667rem;
  color: #777777;
}
.pre_line {
  margin-top: 30px;
  width: 100%;
  border: 1px solid #dbdbdb;
}
.pre_cont {
  margin-top: 15px;
  font-size: 2.333rem;
  color: #555555;
}
.crediit {
  margin-top: 40px;
  font-size: 1.667rem;
  width: 100%;
  height: 56px;
  background-color: #ffe201;
}
.cause_div {
  margin-top: 120px;
  padding: 0;
}
.cause_title {
  padding-top: 12px;
  padding-left: 20px;
  height: 56px;
  background-color: #f9f9f9;
  font-size: 2rem;
  color: #333333;
  vertical-align: middle;
}
.cause_cint {
  margin-top: 42px;
  font-size: 1.333rem;
  padding: 0 20px;
  box-sizing: border-box;
  color: #777777;
}
.chase_much {
  max-width: 400px; min-width: 300px;
  width: calc(100% - 66px); height: 56px;
  border-radius: 28px;
  background-color: #ffffff;
  position: relative;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cash_icon, .point_icon_t {
  text-align: center;
  width: 32px; height: 32px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.cash_money_t {
  display: inline-block;
  font-family: NotoSansKR;
  font-size: 1.5rem;
  font-weight: 500;
  color: #333333;
}
.chung_btn {
  padding: 0;
  margin: 0 20px;
  width: 80px; height: 40px;
  border-radius: 2px;
  background-color: transparent;
  border: solid 1px #ebebeb;
}
.cash_content_area {
  display: flex;
  align-items: center;
}
.cash_point_t {
  display: inline-block;
  font-family: NotoSansKR;
  font-size: 1.5rem;
  font-weight: 500;
  color: #333333;
}
.more_aa {
  cursor: pointer;
  width: 56px; height: 56px;
  background-color: #ffffff;
  border-radius: 30px;
  margin-left: 30px;
  position: relative;
}
.icon_posi {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.private-cash-info {
    max-width: 1280px;
    height: 100%;
    padding: 0 10px;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    position: relative;
    display: flex;
}



.cash-product-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.product-info-image {
  min-width: 480px;
  margin-right: 5%;
}
.product-info-image img {
  width: 100%;
}
.product-info-content {
  max-width: 560px;
  width: 100%;
  position: relative;
}
.product-info-line {
  border: none;
  border-top: solid 1px #DBDBDB;
  margin: 30px 0;
}
.product-info-title {
  font-size: 2.833rem;
  font-weight: normal;
  color: #333333;
  margin-bottom: 20px;
}
.product-info-text,
.other-item-explain {
  color: #777777;
  font-size: 1.333rem;
}
.product-info-value,
.product-info-amount,
.product-total-value,
.product-accumulate-point {
  display: flex;
  align-items: center;
}
.product-info-name,
.product-total-name {
  margin-right: 30px;
  color: #333333;
  font-size: 1.667rem;
}
.product-total-name {
  width: 180px;
  color: #555555;
}
.product-total-price {
  color: #333333;
  font-size: 1.667rem;
}
.product-info-price {
  color: #333333;
  font-weight: bold;
  font-size: 2.333rem;
}
.product-info-amount,
.product-accumulate-point {
  margin-top: 30px;
}
.product-amount-setter {
  display: flex;
}
.product-info-amount button,
.product-info-amount input {
  outline: none;
  padding: 0; margin: 0;
  border: solid 1px #DBDBDB;
  background: transparent;
  height: 40px;
}
.product-info-amount button {
  width: 40px;
  font-size: 2.5rem;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .15s ease-in-out;
}
.product-info-amount button:hover {
  cursor: pointer;
  background-color: #F5F5F5;
}
.product-info-amount button > img {
  width: 15px;
}
.product-info-amount input {
  width: 80px;
  color: #333333;
  text-align: center;
  font-size: 1.667rem;
}
.product-buy-button {
  width: 100%;
  position: absolute;
  bottom: -50px;
  transform: translateY(100%);
  padding: 20px 0;
  font-size: 2rem;
  color: #333333;
  background-color: #FFE201;
  border: none;
}
.product-buy-button.payment {
  position: static;
  transform: none;
}


.align-buy-button {
  margin-top: 280px !important;
}

.other-item-title h2,
.other-item-title h3 {
  font-size: 2.833rem;
  font-weight: normal;
  color: #333333;
}

.other-item-title h3 {
  text-align: center;
}

.product-info-image,
.other-item-image {
  background-color: #F5F5F5;
  border: solid 1px #E2E2E2;
  padding: 20px;
}
.other-item-image > img {
  width: 100%;
}
.other-item-box {
  width: 300px;
  margin: 0 5px;
}
.other-item-list,
.other-component-list {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.other-item-name {
  color: #333333;
  font-size: 2rem;
  margin: 15px 0;
}


.cash-payment {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}
.cash-payment-info,
.cash-payment-action {
  width: 100%;
  max-width: 620px;
}
.cash-payment-info {
  display: flex;
  align-items: center;
  border: solid 1px #E2E2E2;
  margin-right: 20px;
  min-width: 580px;
  flex-shrink: 3;
}
.cash-payment-action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 4;
}
.cash-payment-info-image {
  padding: 30px 0;
  text-align: center;
  border-right: solid 1px #E2E2E2;
  background-color: #F5F5F5;
}
.cash-payment-info-content {
  padding: 20px;
}
.cash-payment-info-content > div + div {
  margin-top: 20px;
}
.cash-payment-content-name {
  font-size: 1.667rem;
  color: #333333;
}
.cash-payment-content-value {
  font-size: 1.5rem;
  color: #555555;
  margin-left: 20px;
}
.cash-payment-content-value.bold {
  color: #333;
  font-weight: bold;
}
.cash-payment-total {
  background-color: #F9F9F9;
  border: solid 1px #DBDBDB;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  font-size: 2.167rem;
  font-weight: bold;
}
.cash-payment-total-value {
  margin-left: 30px;
}

.cash-payment-info-name,
.cash-payment-info-amount,
.cash-payment-info-value,
.cash-payment-point {
  display: flex;
  align-items: center;
}
.cash-payment-line {
  border: none;
  border-top: solid 1px #DBDBDB;
  margin: 10px 0;
}
.checkBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.checkBtn > p {
  margin-left: 20px;
  color: #555555;
  font-size: 1.5rem;
}
input.ch-checkbox {
  display: none;
}
label.ch-checkbox {
  display: block;
  cursor: pointer;
  background-color: #fff;
  width: 25px; height: 25px;
  border: 1px solid #DBDBDB;
}
label.ch-checkbox:hover {
  background-color: #ededed;
}
input.ch-checkbox:checked + label.ch-checkbox {
  background-image: url(../img/checked.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#MyCredit2 {
  bottom: 10px;
  transform: translate(-100%, 100%);
  right: 0;
}

@media screen and (max-width: 1374px) {
  .desc_cash {
    padding: 0 30px;
    padding-top: 40px;
    width: 320px; height: 200px;
  }
  #cash_gallery a > img {
    width: 200px; height: 200px;
  }
  #cash_gallery {
    width: 520px;
    margin-top: 20px; margin-left: 20px;
  }
}


@media screen and (max-width: 1024px) {
  .pre_title {
    padding: 25px 35px;
  }
  .cash_intro {
    font-size: 2.667rem;
    margin-top: 60px;
  }
  .product-info-image {
    min-width: 360px;
  }
  .product-info-line {
    margin: 20px 0;
  }
  .product-info-amount, .product-accumulate-point {
    margin-top: 20px;
  }
  .product-buy-button {
    bottom: -30px;
    padding: 15px 0;
  }
  .align-buy-button {
    margin-top: 220px !important;
  }
  .cash-main.detail {
    padding: 80px 20px;
  }
  .cash-payment {
    display: block;
  }
  .cash-payment-info {
    min-width: 0;
  }
  .cash-payment-info,
  .cash-payment-action {
    max-width: 100%;
  }
  .cash-payment-action {
    margin-top: 20px;
  }
  .cash-payment-total {
    height: 120px;
  }
  .cash-payment-info-content {
    padding: 20px 40px;
  }
}


@media screen and (max-width: 768px) {
  .cash_intro {
    font-size: 2rem;
    margin-top: 40px;
  }
  .cash_text {
    font-size: 1rem;
    margin-top: 20px;
  }
  .filte_box {
    width: 80px;
    left: -100px;
    padding-left: 5px;
  }
  #cash_gallery, #pre_gallery {
    margin: 0;
    margin-top: 15px;
    width: 49%;
  }
  #cash_gallery a > img {
    width: 100%; height: auto;
  }
  #pre_gallery img {
    margin: 0;
  }
  .desc_cash {
    box-sizing: border-box;
    width: 100%; height: auto;
    padding: 20px 10px;
  }
  .chung_btn {
    margin: 0 10px;
  }
  .more_aa {
    margin-left: 10px;
  }
  .pre_title {
    padding: 15px 25px;
  }
  .crediit {
    margin-top: 20px;
    height: 48px;
  }
  .gd_line {
    margin: 10px 0;
  }
  .gd_line_2 {
    margin: 10px 0;
  }
  .cause_div {
    margin-top: 70px;
  }
  .cause_cint {
    font-size: 1.167rem;
  }
  .shop_section {
    margin-top: 20px;
    justify-content: space-around;
  }

  .pre_section {
    justify-content: space-around;
  }
  .cash-product-info {
    display: block;
  }
  .product-info-image {
    max-width: 560px;
    min-width: 0;
    margin: 0 auto;
  }
  .product-info-content {
    margin: 0 auto;
    margin-top: 20px;
  }
  .product-buy-button {
    bottom: -20px;
    padding: 10px 0;
  }
  .product-info-amount, .product-accumulate-point {
    margin-top: 10px;
  }
  .cash-main.detail {
    padding: 50px 20px;
  }
  .align-buy-button {
    margin-top: 140px !important;
  }
  .cash-payment-info {
    display: block;
  }
  .cash-payment-info-image {
    border-right: none;
    border-bottom: solid 1px #E2E2E2;
  }
  
  .cash-payment-total {
    height: 100px;
  }
}

@media screen and (max-width: 450px) {
  .chase_much {
    max-width: 100%;
    min-width: 100%;
    padding: 0 10px;
  }
  .more_aa {
    position: fixed;
    bottom: 0; left: 0;
    transform: translateY(-50%);
    box-shadow: 0px 1px 10px #666;
    z-index: 500;
  }
  .pre_title {
    padding: 10px 20px;
  }
  .pre_cont {
    font-size: 1.667rem;
  }
  .cause_div {
    margin-top: 50px;
  }
  .crediit {
    height: 36px;
    margin-top: 20px;
  }
  .desc_cash, .pre_title {
    font-size: 1.5rem;
    word-break: keep-all;
  }
  .pre_title {
    padding: 10px 15px;
  }
  .cash_money {
    font-size: 2rem;
  }
  .cash_icon, .point_icon_t {
    width: 24px; height: 24px;
  }
  
  .cash-main.detail {
    padding: 40px 20px;
  }
  .cash-payment-total {
    height: 80px;
    font-size: 1.667rem;
  }
  .cash-payment-info-content {
    padding: 20px;
  }
}