.down_title {
  font-size: 3.333rem;
  color: #333333;
  margin-top: 80px;
  text-align: center;
}
.down_top {
    margin: 0 auto;
    max-width: 1374px;
}
.down_btn {
  background: url("../img/down_btn.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 40px;
  border: none;
  width: 100%;
  height: 200px;
  cursor: pointer;
}
.sy_title {
  font-size: 3.333rem;
  margin-top: 100px;
  text-align: center;
}
.pc_sy {
    margin: 0 auto;
    margin-top: 40px;
    width: 100%;
    max-width: 1374px;
    padding-bottom: 100px;
}
.pc_cate, .pc_cate_2, .pc_cate_3 {
  border: 5px solid #ffffff;
  background-color: #555555;
  width: 480px;
  height: 66px;
  color: #ffffff;
  font-size: 1.833rem;
}
.pc_cate {
  width: 300px;
}
.pc_row_1_cen {
  text-align: center;
  padding: 20px;
  font-size: 1.333rem;
  color: #555555;
}
.pc_row_1 {
  padding: 20px;
  font-size: 1.333rem;
  color: #555555;
  border-left: 10px solid #ffffff;
}
.pc_row_bt {
  border-left: 10px solid #ffffff;
  border-bottom: 1px solid #555555;
  padding: 20px;
  font-size: 1.333rem;
  color: #555555;
}
.pc_row_bt_cen {
  text-align: center;
  border-bottom: 1px solid #555555;
  padding: 20px;
  font-size: 1.333rem;
  color: #555555;
}
.mb_sy {
  display: none;
  padding-bottom: 100px;
  margin-top: 40px;
  word-break: keep-all;
}
.mb_sy > table {
  width: 100%;
}
.mb_sy .pc_cate {
  width: 100px; 
}
.mb_sy .pc_cate, .mb_sy .pc_cate_2 {
  height: 48px;
}
.mb_sy .pc_row_1_cen, .mb_sy .pc_row_1,
.mb_sy .pc_row_bt_cen, .mb_sy .pc_row_bt {
  padding: 10px;
}

@media screen and (max-width: 1024px) {
  .sy_title, .down_title {
    font-size: 2.667rem;
    margin-top: 60px;
  }
}

@media screen and (max-width: 768px) {
  .pc_sy {
    display: none;
  }
  .mb_sy {
    display: block;
  }
  .sy_title, .down_title {
    padding: 0 10px;
    text-align: left;
    font-size: 2rem;
    margin-top: 40px;
  }
  .down_btn {
    height: 150px;
  }
  
  .pc_cate, .pc_cate_2, .pc_cate_3 {
    border: 1px solid #ffffff;
  }
}