.FAQ_title {
  margin-top: 80px;
  font-size: 3.333rem;
  text-align: center;
  margin-bottom: 40px;
}
.btn_div {
  margin-top: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.fq_btn {
  width: 280px; height: 56px;
  border: none; outline: none;
  color: #27575A;
  background-color: #fff;
  border: solid 1px #CCCCCC;
  font-size: 1.667rem;
  margin: 5px 10px;
  cursor: pointer;
}

.fq_btn.active,
.fq_btn:hover {
  background-color: #27575a;
  color: #ffffff;
}
.article_search {
  width: 100%; height: 64px;
  max-width: 1000px;
  position: relative;
  margin: 10px auto;
}
.article_search_field::placeholder {
  text-align: center;
  font-weight: 100;
}
.article_search_field {
  border: solid 1px #dbdbdb;
  font-size: 1.333rem;
  width: 100%; height: 100%;
  border-radius: 32px;
  margin-right: 5px;
}
.article_search_submit {
  width: 32px; height: 32px;
  position: absolute;
  border: none; outline: none;
  background-color: transparent;
  cursor: pointer;
  bottom: 16px;
  right: 50px;
  z-index: 100;
}
.article_search_submit > img {
  width: 100%; height: 100%;
}
.faq_content {
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto;
  padding-bottom: 100px;
}
.mobile-select-div {
  display: none;
}

.mobile-select-div {
  justify-content: flex-end;

}
.mobile-select-div > .cate_1 {
  max-width: 300px;
}

@media screen and (max-width: 1024px) {
  
  .btn_div {
    display: none;
  }
  .mobile-select-div {
    display: flex;
  }
  .article_search {
    height: 56px;
  }
  .article_search_submit {
    width: 28px; height: 28px;
    bottom: 14px;
    right: 40px;
  }
  .fq_btn {
    width: 220px;
    height: 48px;
    margin: 3px 7px;
  }
  .FAQ_title {
    margin-top: 60px;
    font-size: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .article_search {
    height: 48px;
  }
  .article_search_submit {
    width: 24px; height: 24px;
    bottom: 12px;
    right: 30px;
  }
  .FAQ_title {
    margin-top: 40px;
    font-size: 2.667rem;
  }
}

@media screen and (max-width: 450px) {
  .article_search {
    height: 36px;
  }
  
  .article_search_submit {
    width: 18px; height: 18px;
    bottom: 9px;
    right: 20px;
  }
  .mobile-select-div > .cate_1 {
    height: 36px;
    max-width: 100%;
  }
  .article_search_field::placeholder {
    text-align: left;
  }
}