#te {
  position: relative;
}
div.gallery {
  width: 400px;
  margin-top: 40px;
}
div.gallery-box {
  display: flex;
  padding: 0 10px;
  justify-content: space-around;
  flex-wrap: wrap;
}

div.gallery img {
  width: 100%;
  margin-bottom: 0px;
}

div.desc {
  font-size: 1.833rem;
  color: #333333;
  width: 400px;
  padding: 15px;
  text-align: center;
  border: 1px solid #dbdbdb;
}
.cont_text {
  font-size: 1.333rem;
  color: #999999;
}
.ib_title {
  font-size: 1.833rem;
  width: 400px;
  padding: 20px;
  border: 1px solid #dbdbdb;
  position: relative;
}
.ib_cnt {
  display: inline-block;
  font-size: 1.333rem;
  color: #999999;
}
.ib_cont {
  margin-top: 30px;
  display: inline-block;
  font-size: 1.5rem;
  color: #555555;
}
.ib_cont_2 {
  margin-left: 10px;
  display: inline-block;
  font-size: 1.167rem;
  color: #999999;
}
.heart_click {
  display: inline-block;
  width: 20px;
  height: 18px;
}
.hot_line {
  width: 100%;
}

@media screen and (max-width: 768px) {
  div.gallery, div.desc {
    width: 100%;
    margin-top: 20px;
  }
  .ib_title {
    width: 100%;
  }
  .hot_line {
    display: none;
  }
}