.slider_items {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  box-sizing: content-box;
  padding: 0 50px;
}

.slider-image {
  width: 320px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  font-size: 32px;
  font-weight: bold;
  margin: 0 10px;
}
.slick-list, .slick-track {
  height: 100%;
}

.prev {
  z-index: 1000;
  position: absolute;
  left: 0;
  bottom: 50%;
  transform: translateY(50%);
}
.mainBanner-slick-image {
  width: 100%; height: 100%;
}
.next {
  z-index: 1000;
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
}

.arrow-style {
  width: 40px;
}

@media screen and (max-width: 1280px) {
  .prev {
    left: 20px;
  }

  .next {
    right: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .cash {
    padding: 0 60px;
  }

  .arrow-style {
    width: 30px;
  }
}

@media screen and (max-width: 450px) {
  .arrow-style {
    width: 20px;
  }
}
.mainBanner-slick-image_box {
  width: 100%;
  height: 100%;
}

.mainBanner-slick-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.swiper-navigation-container {
  position: absolute;
  width: 100%;
  height: 144px;
  bottom: 0;
  z-index: 400;
}
.swiper-navigation-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #333333;
  opacity: 0.8;
}

.swiper-navigation {
  position: relative;
  z-index: 400;
  width: 1280px;
  height: 100%;
  min-width: 1280px;
  margin: 0 auto;
  bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}
.prev-arrow_box {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  cursor: pointer;
}

.next-arrow_box {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
  cursor: pointer;
}

.slick-image-title_box {
  display: inline-table !important;
  width: 10.1%;
  height: 100%;
  text-align: center;
  margin-left: 10px;
  margin-right: 43px;
  cursor: pointer;
}

.slick-image-title {
  color: #555;
  font-size: 16px;
  display: table-cell;
  vertical-align: middle;
}
