#g_info {
  margin-right: 32px;
  color: #555555;
}
.trove_intro {
  font-family: "Noto Sans KR", sans-serif;
  color: #333333;
  font-size: 3.333rem;
  text-align: center;
  margin-top: 82px;
}

.sub_nao {
  width: 100%;
  position: relative;
  overflow-x: auto;
}
.sub_nav {
  display: flex;
  max-width: 1374px;
  margin: 0 auto;
  white-space: nowrap;
  margin-top: 20px;
}

.sub_nav button {
  border: 0px solid skyblue;
  background-color: rgba(0, 0, 0, 0);
  color: #999999;
  padding: 5px;
  font-size: 2rem;
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.sub_nav button:hover {
  border-bottom: 3px solid black;
}
.visual_sub {
  background-size: cover;
  background-position: center;
  width: 100%; height: 360px;
  position: relative;
  transition: height .3s ease-in-out;
}
input.start_btn {
  top: 360px;
  left: 75%;
  width: 200px; height: 220px;
}
#game_infoo {
  margin-top: 21px;
  width: 100%;
}
.game_infoo.aaa {
  width: 50%;
  float: right;
  box-sizing: border-box;
  background: #ffffff;
}
.game_infoo.bbb {
  width: 50%;
  float: right;
  box-sizing: border-box;
  background: #000000;
}
.gamu_info {
  font-family: "Noto Sans KR", sans-serif;
  color: #555555;
  font-size: 2rem;
  margin-top: 1px;
}
.gamu_content {
  font-family: "Noto Sans KR", sans-serif;
  color: #999999;
  font-size: 1.333rem;
  margin-top: 40px;
}
#game_infoo_2 {
  width: 100%;
}
.g_info {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 2rem;
  margin: 0 50px;
  color: #999999;
}
.g_info_selec {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 2rem;
  margin: 0 50px;
  padding-bottom: 21px;
  border-bottom: 8px solid #555555;
}
.g_info:hover {
  color: #555555;
  padding-bottom: 21px;
  border-bottom: 8px solid #555555;
}

.gamu_infom {
    display: table;
}
.gamu_infom > div {
    display: table-cell;
    vertical-align: top;
    width: 50%;
}
.gamu_infom > div > img {
    width: 100%;
}
.gamu-text {
    padding: 40px 20px;
}


@media screen and (max-width: 1024px) {
  input.start_btn {
    width: 150px; height: 165px;
    left: 50%;
    top: 300px;
  }
  .visual_sub {
    height: 300px;
    margin-bottom: 75px;
  }
  .sub_nav {
    margin-top: 15px;
  }
  .g_info_selec {
    padding-bottom: 16px;
  }
  .g_info:hover {
    padding-bottom: 16px;
  }
  .gamu_content {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  input.start_btn {
    width: 100px; height: 110px;
    top: 250px;
  }
  .visual_sub {
    height: 250px;
  }
  .sub_nav {
    justify-content: space-around;
    margin-top: 10px;
  }
  .sub_nav a {
    text-align: center;
  }
  .sub_nav.three-item a {
    width: 33.333%;
  }
  .sub_nav.four-item a {
    width: 25%;
  }
  .g_info {
    margin: 0;
  }
  .g_info_selec {
    margin: 0;
    padding-bottom: 11px;
  }
  .g_info:hover {
    margin: 0;
    padding-bottom: 11px;
  }
  .gamu_infom > div {
    display: block;
    width: 100%;
  }
  #game_infoo_2 > .gamu_infom {
    display: flex;
    flex-direction: column-reverse;
  }
  .gamu-text {
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .gamu_content {
    margin-top: 10px;
  }
}

@media screen and (max-width: 450px) {
  .g_info,
  .g_info_selec,
  .g_info:hover {
    font-size: 1.5rem;
  }
}