.join_style {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0 auto;
  max-width: 640px;
  padding-bottom: 100px;
}
.hr_sly {
  margin: 40px auto;
  padding: 0 10px;
  max-width: 640px;
}
th {
  margin-top: 20px;
  min-width: 100px;
  text-align: left;
  font-size: 1.333rem;
}
.table_sty {
  text-align: left;
  width: 100%;
  padding: 5px 10px;
  color: #333333;
  font-size: 1.5rem;
  border-spacing: 0;
}
.s_btn {
  width: 120px;
  height: 48px;
  background-color: #ffe201;
  border: 0px;
}
.sm_btn {
  margin-top: 80px;
  border: 0px;
  width: 100%;
  height: 64px;
  background-color: #ffe201;
  font-size: 1.5rem;
}
.input_text {
  padding: 0 15px;
  margin-bottom: 20px;
  width: calc(100% - 130px);
  height: 48px;
  border: 1px solid #e2e2e2;
}
.input_text_502 {
  margin-top: 10px;
  width: 100%;
  height: 48px;
  border: 1px solid #e2e2e2;
}
.input_text_502_bnk {
  margin-top: 10px;
  margin-bottom: 70px;
  width: 100%;
  height: 48px;
  border: 1px solid #e2e2e2;
}
.sp_blank {
  border: 0px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.input_text_180 {
  margin: 10px 0;
  width: 180px;
  height: 48px;
  border: 1px solid #e2e2e2;
}
.input_text_120 {
  margin: 10px 0;
  margin-right: 5px;
  width: 100px;
  height: 48px;
  border: 1px solid #e2e2e2;
}
.input_text_90 {
  margin: 10px 0;
  margin-right: 5px;
  width: 80px;
  height: 48px;
  border: 1px solid #e2e2e2;
}
.input_text_280 {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 280px;
  width: 100%;
  height: 48px;
  border: 1px solid #e2e2e2;
}
.join_content {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Noto Sans KR", sans-serif;
  color: #999999;
  font-size: 1.333rem;
  margin-top: 43px;
}
.aler_cont {
  margin-top: 5px;
  font-size: 1.167rem;
  color: #999999;
}
.box-radio-input input[type="radio"] {
  display: none;
}

.box-radio-input input[type="radio"] + span {
  display: inline-block;
  background: none;
  border: 1px solid #e2e2e2;
  width: 60px;
  text-align: center;
  height: 48px;
  line-height: 45px;
  font-weight: 500;
  cursor: pointer;
}

.box-radio-input input[type="radio"]:checked + span {
  border: 1px solid #23a3a7;
  background: #ffe201;
  color: #333333;
}
.mb-radio-input input[type="radio"] {
  display: none;
}

.mb-radio-input input[type="radio"] + span {
  margin: 0 15px;
  display: inline-block;
  font-size: 1.833rem;
  background: url(../img/under_16_w.png);
  border: 1px solid #e2e2e2;
  width: 240px;
  text-align: center;
  height: 240px;
  line-height: 45px;
  font-weight: 500;
  color: #1c8286;
  cursor: pointer;
}

.mb-radio-input input[type="radio"]:checked + span {
  border: 1px solid #23a3a7;
  background: url(../img/under_16_g.png);
  color: #ffffff;
}
.age_img {
  margin-top: 42px;
}
.mb_radio_div {
  text-align: center;
  margin: 90px 0;
}
.mb-radio-input_2 input[type="radio"] {
  display: none;
}

.mb-radio-input_2 input[type="radio"] + span {
  margin: 0 15px;
  display: inline-block;
  font-size: 1.833rem;
  background: url(../img/over_16_w.png);
  border: 1px solid #e2e2e2;
  width: 240px; height: 240px;
  line-height: 45px;
  font-weight: 500;
  text-align: center;
  color: #1c8286;
  cursor: pointer;
}

.mb-radio-input_2 input[type="radio"]:checked + span {
  border: 1px solid #23a3a7;
  background: url(../img/over_16_g.png);
  color: #ffffff;
}


@media screen and (max-width: 768px) {
  .table_sty tr {
    display: flex;
    flex-direction: column;
  }
  .table_sty .tuuu {
    margin-bottom: 10px;
  }
  .table_sty th, .table_sty td {
    display: block;
  }
  .teeeeee {
    padding-bottom: 10px;
  }
  .input_text_502_bnk {
    margin-bottom: 30px;
  }
}