@media screen and (max-width: 768px) {
  .table_basic > tbody > tr,
  .table_basic > tbody > tr > td {
    display: block;
  }
  .table_basic > thead > tr > th.tab-number,
  .table_basic > thead > tr > th.tab-state,
  .table_basic > thead > tr > th.tab-state2,
  .table_basic > thead > tr > th.tab-regist,
  .table_basic > thead > tr > th.tab-nickname,
  .table_basic > thead > tr > th.tab-view_count,
  .table_basic > thead > tr > th.tab-title {
    display: none;
  }
  .table_basic > tbody > tr > td:nth-last-child(1),
  .table_basic > tbody > tr > td:nth-last-child(2),
  .table_basic > tbody > tr > td:nth-last-child(3),
  .table_basic > tbody > tr > td:nth-last-child(5) {
    position: absolute;
    display: block;
    bottom: 0;
    font-size: 1rem;
  }
  .table_basic > tbody > tr > td:nth-last-child(5) {
    top: 50%;
    left: 10px;
    padding: 0;
    height: 15px;
    transform: translateY(-50%);
  }
  .table_basic > tbody > tr > td:nth-last-child(1) {
    left: 50px;
  }
  .table_basic > tbody > tr > td:nth-last-child(2) {
    left: 100px;
  }
  .table_basic > tbody > tr > td:nth-last-child(3) {
    left: 170px;
  }
  .table_basic > tbody > tr > td > img {
    width: 40px;
  }
  .table_basic > tbody > tr > td:nth-last-child(2)::before,
  .table_basic > tbody > tr > td:nth-last-child(3)::before {
    content: "|";
    position: absolute;
    left: -5px;
  }
  .table_basic > tbody > tr > .tit_contents_td {
    position: relative;
    left: 50px;
    padding-top: 10px;
    padding-right: 60px;
    padding-bottom: 30px;
  }
  .board-main .table_basic > tbody > tr > .tit_contents_td {
    left: 10px;
  }
  .board-main .table_basic > tbody > tr > td:nth-last-child(1) {
    left: 10px;
  }
  .board-main .table_basic > tbody > tr > td:nth-last-child(2) {
    left: 60px;
  }
  .board-main .table_basic > tbody > tr > td:nth-last-child(3) {
    left: 130px;
  }
}
