		/* 사이드바 스타일 */
		.sidenav {
			height:100%;
			width: 0;
			position: fixed;
			z-index:999;
			top: 0;
			left: 1470px;
			background-color: #ebebeb;
			overflow-x: hidden;
			transition:0.5s ease-in-out;
			padding-top: 60px;
		}
		.sidenav a {
			padding: 8px 8px 8px 32px;
			text-decoration: none;
			font-size: 25px;
			color: #707070;
			display: block;
			transition: 0.2s ease-in-out;
		}
		.sidenav a:hover, .offcanvas a:focus {
			color: #000;
		}
		.closebtn {
			position: absolute;
			top: 18px;;
			right: 25px;
			font-size: 36px !important;
			margin-left: 50px;
            
		}

.sl_idid
{
    position: absolute;
    top: 0px;
    padding-top: 40px; 
    width: 100%;
    height: 185px;
    background-color: #f9f9f9;
}
.sli_nick
{
    font-family: Roboto;
    font-size: 20px;
    color: #555555;
    display: inline-block;
    font-weight: 700;
     position: absolute;
    left: 40px;
}
.wel_text
{
    font-family: NotoSansKR;
    font-size: 20px;
    color: #555555;
    display: inline-block;
    font-weight: normal;
    position: absolute;
    left: 120px;
}
.hre_minfo
{
    letter-spacing: -0.8px;
    font-size: 16px;
    position: absolute;
    top: 100px;
    left: 40px;
    background-color: #f9f9f9;
    border: 0px;
    color: #333333;
    font-weight: 700;
}
.hre_logout
{
    font-size: 16px;
    background-color: #f9f9f9;
    border: 0px; 
    color: #777777;
    position: absolute;
    top: 100px;
    left: 130px;
}
.PcBang_text
{
    font-family: NotoSansKR;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.8px;
  color: #333333;
    position: absolute;
    top: 100px;
    left: 235px;
}
.OFF
{
    line-height: 1.5;
    letter-spacing: -0.8px;
    font-size: 16px;
    font-weight: 700;
    color: #999999;
    position: absolute;
    top: 100px;
    left: 275px;
}
.ON
{
    line-height: 1.5;
    letter-spacing: -0.8px;
    font-size: 16px;
    font-weight: 500;
    color: #ffe201;
    position: absolute;
    top: 100px;
    left: 320px;
}
.My_cash
{
    position: absolute;
    top: 225px;
    left: 40px;
    font-size: 18px;
    color: #333333;
    font-weight: 800;
}
.herhr
{
    width: 360px;
    position: absolute;
    color: #dbdbdb;
    top: 272px;
    margin-left: 40.5px;
}
.My_credit
{
    width: 360px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 100px;
    position: absolute;
    top: 292px;
    left: 40px;

    
}
.My_Point
{ 
    width: 360px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 100px;
    position: absolute;
    top: 350px;
    left: 40px;
    
}
.t_t_t
{
    font-family: NotoSansKR;
  font-size: 16px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.8px;
  color: #555555;
display: inline-block;
        vertical-align: middle;
    position: absolute;
    top: 13px;
    left: 40px;
}
.t_c_t
{
    display: inline-block;
    font-size: 22px;
    width: 32px;
    height: 32px;
    border-radius: 30px;
    color: #ffffff;
    background-color: #0069c3;
        vertical-align: middle;
    position: absolute;
    top: 8px;
    left: 210px;
}
.t_m_t
{
    vertical-align: middle;
    font-weight: normal;
    display: inline-block;
    font-family: NotoSansKR;
    font-size: 18px;
    position: absolute;
    top: 13px;
    left: 263px;
}
.t_p_t
{
    display: inline-block;
    font-size: 22px;
    width: 32px;
    height: 32px;
    border-radius: 30px;
    color: #ffffff;
    background-color: #f7cd19;
    vertical-align: middle;
    position: absolute;
    top: 8px;
    left: 210px;   
}
		/* 미디어쿼리 적용 */
		@media screen and (max-height:450px) {
			.sidenav {
				padding-top:15px;
			}
			.sidenav a {
				font-size: 18px;
			}
		}