@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR|ZCOOL+QingKe+HuangYou");

* {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}
html {
  font-size: 12px;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
body {
  font-size: 12px;
  position: relative;
  transition: left 0.3s ease-in-out;
  left: 0;
  width: 100%;
  height: 100%;
}

.mainBanner-container,
.swiper-container {
  width: 100%;
  height: 450px;
  transition: height 0.3s ease-in-out;
}
.fn-font {
  font-family: "Noto Sans KR", sans-serif;
}
.new-font {
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  font-size: 1.833rem;
  text-align: center;
}
.login_btn {
  text-align: center;
  width: 100%;
}
.logout_btn {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  font-family: Roboto;
  font-size: 1.667rem;
  width: 120px;
  font-weight: 500;
}
.more_btn {
  background-color: #ffffff;
  border: 0;
  position: relative;
  outline: none;
  cursor: pointer;
}
.logout_btn .login-v {
  margin-left: 25px;
  font: 400 13.3333px "Noto Sans KR", sans-serif;
}
.n-font {
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  font-size: 1.333rem;
  text-align: center;
}
.wrap_content {
  height: 100%;
  position: relative;
  margin-bottom: 50px;
}
ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}
.container {
  width: 1920px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 80px;
  transition: height 0.3s ease-in-out;
  align-items: center;
  justify-content: space-around;
}
.header-nav {
  display: flex;
  justify-content: center;
}
.mobile-sidebar {
  visibility: hidden;
  position: fixed;
  width: 250px;
  height: 100%;
  top: 0;
  left: -250px;
  overflow-y: scroll;
  background-color: #1a1a1a;
  z-index: -999;
  transition: left 0.3s ease-in-out;
}
.mobile-sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  border-bottom: solid 2px #444;
  transition: height 0.3s ease-in-out;
}
.mobile-sidebar-content {
  margin-top: 20px;
  font-size: 1.5rem;
  border: solid #444;
  border-width: 1px 0;
}
.content-list {
  padding: 5px;
  overflow: hidden;
  box-sizing: border-box;
}
.content-list-title {
  display: block;
  font-size: 2rem;
  padding-bottom: 5px;
  cursor: pointer;
}
.content-list > input {
  display: none;
}
.mobile-sidebar-content * {
  color: #fff;
}
.content-child-list {
  overflow: hidden;
  max-height: 0;
  transition: max-height .3s ease-in-out;
}
.content-child-list > li {
  padding: 10px;
  background: #2b2b2b;
}
.content-child-list > li + li {
  margin-top: 3px;
}
.content-list > input:checked + .content-child-list {
  max-height: 300px;
}
.content-list + .content-list {
  border-top: 1px solid #444;
}

.menu01 > .mobile-sidebtn {
  visibility: hidden;
  display: none;
}
header > h2 {
  margin-left: 20px;
  margin-right: 136px;
  text-align: center;
}

header > nav {
  width: 60px;
  height: 100%;
}

header ul {
  max-width: 1374px;
  margin: auto;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

header ul > li {
  font-size: 1.667rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  vertical-align: middle;
  text-align: center;
}
.visual {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(visual.png);
  background-size: cover;
  background-position: 0% 20%;
  width: 100%;
  height: 480px;
  position: relative;
}
.sosic_intro {
  clear: both;
  max-width: 1374px;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 3.667rem;
}
input.start_btn {
  transition: all 0.3s ease-in-out;
  background: url(../img/trove_start.png) no-repeat;
  top: 450px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0px;
  background-position: center;
  background-size: cover;
  width: 272px;
  height: 307px;
  position: absolute;
  z-index: 50;
  outline: none;
  cursor: pointer;
}
.sosick {
  margin: auto;
  margin-top: 55px;
  margin-bottom: 125px;
  max-width: 1374px;
}
.sosick_div {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 30px;
}
.info-content {
  padding-top: 150px;
}
.woowha {
  margin-top: 40px;
}
.news {
  box-sizing: border-box;
  border: 1px solid #e2e2e2;
  background-color: #ffffff;
  max-width: 800px;
  width: 100%;
}
.aaa {
  max-width: 440px;
}
.aaa > img {
  height: 100%;
}
.com_banner {
  width: 100%;
}
.commu-area {
  position: relative;
  margin-top: 400px;
  width: 100%;
  height: 600px;
}
.com-banner-area {
  position: absolute;
  top: -60%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.com-box-area {
  display: flex;
  max-width: 1374px;
  padding: 0 20px;
  justify-content: space-around;
  margin: auto;
}
.gamu_con_title {
  font-size: 2.333rem;
  color: #333333;
}
.gamu_con_text {
  margin-top: 0px;
  font-size: 1.667rem;
  color: #777777;
}
.com_intro {
  text-align: center;
  margin-top: 72px;
  font-size: 3.667rem;
  margin-bottom: 20px;
}
.com_box {
  width: 305px;
  min-width: 305px;
  margin-right: 10px;
  border: 1px solid #e2e2e2;
  margin-bottom: 10px;
  position: relative;
  background-color: #ffffff;
  padding: 32px;
}
.artic {
  max-width: 700px;
  margin: 40px;
  transition: all 0.3s ease-in-out;
}
.cont_text {
  font-size: 1.333rem;
  color: #777777;
  vertical-align: middle;
}
.news_icon {
  display: inline-block;
  margin-right: 20px;
}
.itstitle_fir {
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 12px;
  font-size: 1.5rem;
  color: #333333;
}
.itstitle {
  margin-top: 40px;
  margin-bottom: 12px;
  font-size: 1.5rem;
  color: #333333;
}
.cash {
  margin: auto;
  margin-top: 55px;
  margin-bottom: 100px;
  max-width: 1280px;
}
.commu {
  margin-top: 40px;
  width: 100%;
  position: relative;
}
.commu * {
  transition: all 0.3s ease-in-out;
}

.content {
  display: flex;
  justify-content: space-around;
  margin: 64px auto;
  padding: 0 20px;
  max-width: 1374px;
}

#focus {
  width: 165px;
  height: 63px;
  font-family: NotoSansKR;
  font-size: 3.667rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: -2.2px;
  text-align: left;
  color: #333333;
}
.content > .item {
  min-width: 400px;
  max-width: 400px;
  margin-right: 10px;
  overflow: hidden;
}
.img {
  width: 100%;
  height: 280px;
  text-align: center;
}

.img > img {
  height: 100%;
  object-fit: cover;
}
.item .info {
  background: #1c8286;
  padding: 30px;
  height: 144px;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.item .info_2 {
  background: #c6884a;
  padding: 30px;
  height: 144px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.item .info_3 {
  background: #27575a;
  padding: 30px;
  height: 144px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.info > h4 {
  font-size: 1.833rem;
  color: white;
}
.info > p {
  font-size: 1.333rem;
  color: white;
}
#g_info {
  margin-right: 32px;
}
#adven {
  margin-right: 32px;
  margin-left: 32px;
}
#tam {
  margin-right: 32px;
  margin-left: 32px;
}
#mak {
  margin-right: 32px;
  margin-left: 32px;
}

.footer {
  font-size: 1.166rem;
  padding: 40px 0;
  width: 100%;
  min-height: 200px;
  background-color: #222222;
  word-break: normal;
}
.footer ul,
.footer-bottom {
  max-width: 1374px;
  padding: 20px;
  margin: auto;
}
.footerline {
  margin-top: 40px;
  margin-bottom: 20px;
  border: 1px solid #555555;
}
.footerline_2 {
  margin-top: 10px;
  border: 0px;
}
.footer_nav {
  font-size: 1.333rem;
  color: #dbdbdb;
  margin-bottom: 23px;
}
.footer_nav_2 > span {
  font-size: 1.166rem;
  color: #555555;
  word-break: keep-all;
  white-space: nowrap;
  word-break: normal;
}
.footer_nav_2 + .footer_nav_2 > span::before {
  content: "|";
}

.mySlides {
  width: 100%;
}
.mySlide-area {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topMenu {
  position: relative;
  width: 100%;
  text-align: center;
  height: 100%;
}
.topMenu:hover {
  background: rgab(51, 51, 51, 0.95);
}
.topMenu::after {
  position: absolute;
  width: 100%;
  height: 360px;
  z-index: 998;
  content: "";
  display: none;
  clear: both;
  background: rgba(51, 51, 51, 0.95);
}
.dept-shade {
  position: absolute;
  width: 100%;
  height: 360px;
  top: 80px;
  z-index: 998;
  background: rgba(51, 51, 51, 0.95);
}
.menu01 > li {
  position: relative;
  line-height: 40px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.menu01 span {
  font-size: 1.5rem;
  font-weight: bold;
}
.menu01 > li > span > h2 {
  height: 40px;
}
.menu01 > li > span > h2 > img {
  height: 100%;
}
.dept01 {
  position: absolute;
  top: 80px;
  left: 0;
  height: 360px;
  z-index: 999;
  display: inline-block;
  padding-top: 30px;
  margin: 0 auto;
}

.nop {
  position: relative;
  color: #cccccc;
  font-size: 1.333rem;
  width: 120px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.bd_tag {
  font-size: 1.333rem;
  color: #187e7f;
  margin-bottom: 11px;
}
.comuu_title {
  font-size: 1.5rem;
  color: #333333;
  margin-bottom: 20px;
}
.com_line {
  width: 100%;
  margin-bottom: 22px;
  background-color: #e2e2e2;
}
.cont_com {
  font-size: 1.333rem;
  color: #777777;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -2px;
}
.nickname {
  margin-top: 100px;
  font-size: 1.5rem;
  color: #555555;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  display: inline-block;
}
.made_day {
  font-size: 1.5rem;
  color: #555555;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  display: inline-block;
  margin-left: 90px;
}

.title_3 {
  margin-top: 50px;
  text-align: center;
  font-size: 3.667rem;
}
.page_title {
  font-size: 3.667rem;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 20%;
  font-weight: 500;
  font-family: NotoSansKr;
}
.teeeeee {
  padding-bottom: 70px;
}

#hamburger-11 {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.is-active.sidebar #hamburger-11 {
  animation: smallbig 0.6s forwards;
}
.is-active.sidebar #hamburger-11 .line {
  background-color: #fff;
}
@keyframes smallbig {
  0%,
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
div.hamburger {
  width: 18px;
  padding: 0;
}
.hamburger .line {
  width: 18px; height: 3px;
  background-color: #1a1a1a;
  display: block;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.hamburger .line + .line {
  margin-top: 3px;
}
.hamburger:hover {
  cursor: pointer;
}
.is-active.sidebar #hamburger-11 .line:nth-child(1),
.is-active.sidebar #hamburger-11 .line:nth-child(2),
.is-active.sidebar #hamburger-11 .line:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.is-active.sidebar #hamburger-11 .line:nth-child(2) {
  opacity: 0;
}
.is-active.sidebar #hamburger-11 .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}
.is-active.sidebar #hamburger-11 .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}
.shade {
  position: fixed;
  z-index: 1500;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: opacity 0.5s ease-in;
  visibility: hidden;
  opacity: 0;
}
.is-active.shade {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1374px) {
  .com-box-area {
    justify-content: start;
    overflow-x: auto;
  }
  .commu-area {
    height: 500px;
    margin-top: 350px;
  }
  .content {
    justify-content: start;
    overflow-x: auto;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 11px;
  }
  .menu01 > li {
    width: 100px;
    line-height: 30px;
    height: 30px;
  }
  header {
    height: 65px;
  }
  .menu01 {
    justify-content: space-between;
    padding: 0 20px;
  }
  .menu01 > .header-nav,
  .dept-shade {
    display: none;
    visibility: hidden;
  }
  .menu01 > .mobile-sidebtn {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .com_box {
    width: 45%;
    padding: 24px;
  }
  .sosick_div {
    padding: 0 20px;
  }

  .content {
    padding: 0 15px;
  }
  .content > .item {
    width: 100%;
  }
  .commu-area {
    height: 450px;
    margin-top: 300px;
  }
  .com-box-area {
    padding: 0 15px;
  }
  .artic {
    margin: 30px;
  }
  .aaa {
    max-width: 380px;
  }

  .visual_sub {
    height: 300px;
  }
  input.start_btn {
    width: 250px;
    height: 275px;
    top: 350px;
  }
  .mainBanner-container,
  .swiper-container {
    height: 350px;
  }

  .mobile-sidebar {
    visibility: visible;
  }
  body.open-sidebar {
    left: 250px;
  }
  .open-sidebar .mobile-sidebar {
    left: 0;
  }
  .menu01 > li > span > h2 {
    height: 30px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  header {
    height: 50px;
  }
  .mobile-sidebar-header {
    height: 50px;
  }
  .com_box {
    width: 100%;
    top: 0;
  }
  .sosick_div {
    display: block;
    padding: 0 10px;
  }
  .commu-area {
    height: 400px;
    margin-top: 250px;
  }
  .com-box-area {
    padding: 0 10px;
  }
  .artic {
    margin: 20px;
  }
  .aaa {
    max-width: 100%;
  }
  .aaa > img {
    width: 100%;
  }
  .content {
    padding: 0 10px;
  }

  .menu01 > li {
    width: 60px;
    line-height: 25px;
    height: 25px;
  }
  .page_title {
    left: 50%;
    transform: translate(-50%, -50%);
  }
  input.start_btn {
    width: 180px;
    height: 198px;
    top: 250px;
  }
  .mainBanner-container,
  .swiper-container {
    height: 250px;
  }
}
