.tabmenu {
  position: relative;
  max-width: 1374px;
  margin: 0 auto;
  display: flex;
  padding: 0 10px;
  margin-bottom: 100px;
}
.tabmenu ul {
  width: 50%;
}
.tabmenu ul li {
  margin-top: 65px;
  margin-bottom: 80px;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 1.833rem;
  position: relative;
}
.tabmenu label {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #ebebeb;
  border: 1px solid #ebebeb;
}
.tabmenu input {
  display: none;
}
.tabCon {
  margin-top: 80px;
  display: none;
  text-align: left;
  box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;
}
.tabmenu input:checked ~ label {
  background: #ffffff;
  color: #1c8286;
  border-top: 4px solid #1c8286;
}
.tabmenu input:checked ~ .tabCon {
  display: block;
}

.menu_num-two .tabCon {
  width: 200%;
}
.menu_num-two #tab1 .tabCon {
  left: 0
}
.menu_num-two #tab2 .tabCon {
  left: -100%;
}

@media screen and (max-width: 1024px) {
  .tabmenu label {
    height: 56px;
    font-size: 1.667rem;
  }
}
@media screen and (max-width: 768px) {
  .tabmenu label {
    height: 36px;
    font-size: 1.333rem;
  }
  .tabmenu ul li {
    line-height: 30px;
  }
}